{% capture page_sections_content %}{{ page_section_object.content }}{% endcapture %}

{% capture page_content_formatted %}{{ page_sections_content | replace: '<div class="item">','---<div class="item">' | replace: '</div>','</div>---' }}{% endcapture %}
{% assign page_content_array = page_content_formatted | split: '---' | assign_to: 'page_elements' %}

{% capture column_contents %}{% endcapture %}

{{ 0 | assign_to: 'item_index' }}
{% for page_element in page_elements %}
	{% if page_element contains '<div class="item">' %}
		{% capture column_contents %}
		{{ column_contents }}
		<div class="columns medium-6 end">
			<div class="padded-h-xlarge space-large same-height-item-js">
				{{ page_element }}
			</div>
		</div>
		{% endcapture %}
		{{ item_index | plus: 1 | assign_to: 'item_index' }}

	{% elsif page_element != '' %}
		{% capture column_contents %}
		{{ column_contents }}
		<div class="column">
			{{ page_element }}
		</div>
		{% endcapture %}

	{% endif %}
{% endfor %}

<div class="space-large"></div>
<div class="row same-height-parent-js">
	{{ column_contents }}
</div>