{% capture page_sections_content %}{{ page_section_object.content }}{% endcapture %}

{% capture page_content_formatted %}{{ page_sections_content | replace: '<div class="item">','---<div class="item">' | replace: '</div>','</div>---' }}{% endcapture %}
{% assign page_content_array = page_content_formatted | split: '---' | assign_to: 'page_elements' %}

{% capture column_contents %}{% endcapture %}

{{ 0 | assign_to: 'item_index' }}
{% for page_element in page_elements %}
	{% if page_element contains '<div class="item">' %}
		{% capture column_contents %}
		{{ column_contents }}
		<div class="columns large-4 end">
			<div class="column-call-to-action space-small text-center">
				<div class="item-outer">
				{{ page_element| replace: '<div class="item">','<div class="item background-gray same-height-item-js">' | replace: '<p class="item-link">','</div><p class="item-link">' }}
			</div>
		</div>
		{% endcapture %}
		{{ item_index | plus: 1 | assign_to: 'item_index' }}

	{% elsif page_element != '' %}
		{% capture column_contents %}
		{{ column_contents }}
		<div class="column">
			.{{ page_element }}.
		</div>
		{% endcapture %}

	{% endif %}
{% endfor %}

<div class="space-small"></div>
<div class="row row--wide same-height-parent-js">
	{{ column_contents }}
</div>